@import './base.css';

#app {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-weight: normal;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  /* padding: 3px; */
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media (hover: hover) {
  a:hover {
    /* scale: 1.05; */
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */